{{> templates/header.html}}

      <div class="event">
        <h2>The Peace of Christmas</h2>
        <div class="details">
          <div class="datetime">
            <span class="dow">Sun</span>
            <span class="date">Dec 2</span>
            <span class="time">3pm</span>
          </div>
          <div id="eventdetails">
            Join us for a magical afternoon of choral music and caroling under
            the musical direction of Christopher Askwith. Featuring works from
            Brahms, Mendelssohn, Rachmaninoff, J.S. Bach, Gounod, Sch&uuml;tz,
            Handel and more.
          </div>
        </div>
        <form>
          <button id="buy" formaction="{{buy-tickets}}">Buy Tickets</button>
        </form>
      </div>
      <div class="ctas">
        <div class="subscribe">
          <h3>Never Miss Out</h3>
          <span class="copy">
            Join our newsletter for periodic updates about the choir, including
            concert information, details about the upcoming season, and calls
            for new members.
          </span>
          <div id="form">
            <form method="post" action="#">
              <input type="text" />
              <input type="submit" value=">>" />
            </form>
          </div>
        </div>
        <div class="join">
          <h3>Sing With Us</h3>
        <span class="copy">
          We are always interested in new people who like to sing. Members in
          any of the four voices are encouraged to come along. Tenors and
          basses will be given an especially warm welcome. <br/> No auditions
          are necessary!
        </span>
        </div>
      </div>
      <div class="about">
        <h3>About Us</h3>
        <span class="wide-copy">
          <p>
            The Ottawa Brahms Choir was founded in 1980 by Dieter Kiesewalter
            as a local German community Choir. Currently directed by Christopher
            Askwith and accompanied by Svetlana Logigan, the choir continues to
            offer audiences a wide range of choral music, from classical to
            contemporary, while maintaining its roots in the German
            repertoire.
          </p>
          <p>
            The choir rehearses at Southminster United Church, on the corner of
            Bank and Aylmer, every Monday evenings at 7 pm.
          </p>
        </span>
        <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/FBeR94Bqbxk?rel=0&start=18&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

{{> templates/footer.html}}
