      <footer>
        <div>
          <h4>Ottawa Brahms Choir</h4>
          <p>
          Southminster United Church<br/>
          15 Aylmer Ave<br/>
          Ottawa, ON K1S 5G4<br/>
          819-568-8169<br/>
          <a href="mailto:ottawa.brahms.choir@gmail.com">ottawa.brahms.choir@gmail.com</a>
          </p>
        </div>
        <div>
          <h4>Connect With Us</h4>
          <a href="http://facebook.com/ottawabrahmschoir/">
            <img src="fb.png" alt="Facebook">
          </a>
          <a href="https://www.youtube.com/channel/UCZcU3Hbl65oBktcaeFE87Tw/">
            <img src="yt.png" alt="YouTube">
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
