<html>
  <head>
    {{> templates/analytics.html}}
    <title>Ottawa Brahms Choir{{#title}} - {{title}}{{/title}}</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<meta name="description" content="Home of the Ottawa Brahms Choir">
<meta name="keywords" content="Ottawa,Brahms,choir,German,no audition,community,singers,choral,music,musical,event,group,meetup">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div id="main">
      <header>
        <h1><a href="/"><img id="logo" src="logo.png" title="Ottawa Brahms Choir" alt="Ottawa
        Brahms Choir"></a></h1>
        <nav>
        <ul id="nav">
          <li><a href="/">Our Home</a></li>
          <li><a href="https://www.eventbrite.ca/e/rebirth-tickets-55021756555">Buy Tickets</a></li>
          <!-- <li><a href="#">Plan Your Visit</a></li> -->
          <li><a href="https://www.youtube.com/channel/UCZcU3Hbl65oBktcaeFE87Tw">Watch &amp; Listen</a></li>
          <li><a href="/join-us.html">Sing With Us</a></li>
          <li><a href="/about.html">About OB Choir</a></li>
        </ul>
        </nav>
      </header>

