<html>
  <head>
    {{> templates/analytics.html}}
    <title>Ottawa Brahms Choir</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="style.css" rel="stylesheet">
  </head>

  <body>
    <div id="main">
      <header>
        <h1><a href="/"><img id="logo" src="logo.png" title="Ottawa Brahms Choir" alt="Ottawa
        Brahms Choir"></a></h1>
        <nav>
        <ul id="nav">
          <li><a href="/">Home</a></li>
          <li><a href="https://www.eventbrite.ca/e/the-peace-of-christmas-tickets-51383576661">Buy Tickets</a></li>
          <!-- <li><a href="#">Plan Your Visit</a></li> -->
          <li><a href="https://www.youtube.com/channel/UCZcU3Hbl65oBktcaeFE87Tw">Watch &amp; Listen</a></li>
          <li><a href="/join-us.html">Sing With Us</a></li>
          <li><a href="/#about-us">About OB Choir</a></li>
        </ul>
        </nav>
      </header>

